.logoContainer{
    width: 31.25rem;
    height:18.75rem;

    border: 2px solid red;
    margin: 0 auto;

    display: flex;

    &__img{
        width: 37.5rem;
        height: 18.75rem;

        margin: 0 auto;
        border: 1px solid blue;
    }
}