.charactersContainer{
    width: 100%;
    height: auto;
    margin-top: 50px;


    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:flex-start;


    &__infoContainer{
        width: 25rem;
        height: auto;

        border: 4px solid white;
        border-radius: 30px;
        margin-bottom: 5rem;

        .infoContainer__pic{
            width: 25rem;
            height: 32.375rem;

            border-bottom: 4px solid white;
            border-radius: 30px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            
        }

        .infoContainer__name{
            color: white;
            text-transform: uppercase;
            text-align: center;
        }
        
    }
}