.usersOpinionsContent{
    width: 100%;
    height: auto;

    border-top: 5px solid #817777;
    border-bottom: 5px solid #817777;
    background-color: antiquewhite;

    margin: 0 auto;

    .comentsTitle{
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -5px;
    }

    .carouselContainer{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;

        .cardUser{
            width: 98%;
            height: auto;
            padding: 10px;
    
            margin-top: 30px;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
            text-align: center;

            &__body{
                width: 60%;
                height: auto;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }

    }
}



