.singleCharacterInfo {
  background-image: url(./assets/images/mustafar-tall.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;

  width: 100%;
  height: auto;

    .singleCharacterInfo{
        border: 2px solid yellow;
    }
}
